.container{
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}
.parallax{
  background: url('../img/img1.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;

}
.parallax2{
  background: url('../img/img2.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;

}
.hi{
  color: white;
  font-size: 100px;
  margin-left:30%;
  margin-top: 15%;
  position: absolute;

}
